
<table class="swatches" aria-labelledby="color-table">
    <caption id="color-table">{{ caption | default('Table of colors and notes on their usage') }}</caption>
    <tbody>

    {% for group in colors %}

    <tr>
        <td colspan="4"><h4>{{ group.title }}</h4></td>
    </tr>

    {% for color in group.colors %}
    <tr>
        <th scope="row">
<span class="color-swatch"
      style="background-color:{{ color.color }}">
</span>
            <code>
                {{ color.variable }}
            </code>
        </th>
        <td>
            <code>
                {{ attribute(color, 'alt-variable') }}
            </code>
        </td>
        <td>
            {{ color.color }}
        </td>
        <td>
            {{ color.notes }}
        </td>
    </tr>

    {% endfor %}
    {% endfor %}

    </tbody>
</table>
