<div class="code-example">
    <div class="code-example-toolbar">
        <a href="{{ html_code_url }}" target="_blank">
            Open this
            <span class="visually-hidden">{{ name }}</span>
            example in a new window
        </a>
    </div>
    <iframe title="{{ name }}" class="code-example-frame" src="{{ html_code_url }}" frameBorder="0" loading="lazy"></iframe>
    <ul class="code-example-tabs" role="tablist">
        <li role="presentation"><a href="#{{ short_name }}-code-example-html" role="tab" aria-controls="{{ short_name }}-code-example-html">HTML</a></li>
        <li role="presentation"><a href="#{{ short_name }}-code-example-twig" role="tab" aria-controls="{{ short_name }}-code-example-twig">Twig</a></li>
    </ul>
    <div class="code-example-html" id="{{ short_name }}-code-example-html" role="tabpanel">
        <code>{{ html }}</code>
    </div>
    <div class="code-example-twig" id="{{ short_name }}-code-example-twig" role="tabpanel">
        Template: {{ twig_template_name }}
        {{ twig }}
    </div>
</div>